*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:calibri;
}
body{
    background-color: #222;
}
#card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;

}
#search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#search input{
    border: 0;
    outline: 0;
    height: 10vh;
    border-radius: 30px;
    padding: 30px 20px;
    font-size: 23px;
    margin-right: 15px;
    flex: 1;
    background: #ebfffc;
    color: #555;
}
#search button{
    border-radius: 30px;
    height: 10vh;
    border: none;
    outline: none;
    width: 15%;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 10px;
    background: #ebfffc;
}
#search button img{
    width: 16px;
}
#weather{
    display: block;
}
#weather img{
    height: 20vh;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}
#weather #temp{
    margin: 20px;
    font-size: 60px;
    font-weight: 600; 
}
#weather #city{
    margin: 20px;
    font-size: 40px;
    font-weight: 400; 
}
#details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 30px 20px;
}
#col{
    display: flex;
    justify-content:center;
    text-align: left;
}
#col img{
    width: 40px;
    height: 60px;
    margin-right: 13px;
}
#wind ,#humid{
    font-size: 30px;    
    margin-top:10px; 
}
#weather{
    display: none;
}
#error{
    display: none;
}
#error p{
    width :100%;
    height:20vh;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}